{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - HKTVmall{% else %}{{ _('HKTVmail Online Shopping') }}{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.hktvmall')}}">
{% endblock %}

{% block navbar %}


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <center>
                <a  href="{{ url_for('main.index') }}"><img src="{{ url_for('static',filename='img/hktvmall.jpg') }}" style="background-size: 100px 100px;background-repeat: no-repeat;"></a>
            </center>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                         {% for names in name %}
                            <li>
                                <a href="#">{{ names }}</a>
                            </li>
                         {% endfor %}
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                        <button style="background-color: #4CAF50; color: white; font-size: 20px;"><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></button>&nbsp;
                        <button style="background-color: #4CAF50; color: white; font-size: 20px;"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></button>&nbsp;
                        <button style="background-color: #4CAF50; color: white; font-size: 20px;"><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a></button>&nbsp;
                        <button style="background-color: #4CAF50; color: white; font-size: 20px;"><a href="{{ url_for('main.notification') }}">{{ _('Notification') }}</a></button>&nbsp;
                        <button style="background-color: #4CAF50; color: white; font-size: 20px;"><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></button>&nbsp;

                </ul>
                <div>
                    <input type="text" placeholder="Search through for ..." >
                </div>
                    <h1><a>Categories</a></h1>
                <select name="Categories">
                    <option>Bulk Purchase</option>>
                    <option>Fruits , Vegetables & Flowers</option>
                    <option>Chilled/ Frozen Food </option>
                    <option>Snacks & Desserts </option>
                    <option>Beverages </option>
                    <option>Alcoholic Beverages </option>
                    <option>Noodles & Pasta </option>
                    <option>Rice & Cooking Oil </option>
                    <option>Seasoning </option>
                    <option>Soup, Cooked Food & Preserved Food </option>
                    <option>Canned & Dried Food</option>
                    <option>Breakfast & Jam </option>
                    <option>Organic & Health Food </option>
                    <option>Medicine </option>
                    <option>Voucher & Festival Food </option>
                    <option>Tissues, Disposable & Household Products</option>
                    <option>Household Cleaners </option>
                    <option>Personal Care</option>
                    <option>Baby Care/ Food</option>
                    <option>Pet Care</option>
                </select>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# current_application content needs to be provided in the current_app_content block #}
            {% block current_app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
